<%= form_for(@wishlist) do |f| %>
  <% if @wishlist.errors.any? %>
    <ul>
      <% @wishlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", rows: "4" %>
  </div>

  <%= f.submit button_name, class: "btn btn-default btn-success pull-right"%>
<% end %>
